#header{
    font-family: "unbutton";
    color: black;
}
#formulario{
    width: 50%;
    margin: 0 auto;
}
#container{
    display: flex;
    justify-content: center;
}
#tablaEquipos{
    position: relative;
    width: 80%;
    margin: auto;
    top: 50px;
    border-radius: 25px;
}
h2{
    position: relative;
    left: 30px
}
#formulario-ver{
    position: relative;
    width: 35%;
    height: auto;
    bottom: 245px;
    left: 176px;
}
#formulario-editar{
    width: 50%;
    margin: 0 auto;
}
#aclaracion{
    color: red;
}
#escudo{
    width: 58%;
}
#agregar-equipo{
    position: relative;
    left: 760px;
    bottom: 30px;
}
.escudoEquipo{
    height: 50px;
}
body{
    overflow-x: hidden;
    background-color: #fff3b0;
}
#carta-equipo{
    width: 20rem
}
#carta{
    width: 1044px;
    align-content: center;
    margin: 0 auto;
}
#escudo{
    width: 72px;
}
#borrarEquipos{
    text-align: center;
    position: relative;
    top: 70px;
}