<h2>Lista de equipos:</h2>
<form id="agregar-equipo" method="GET" action="/agregar-equipo">
    <button type="submit" class="btn btn-dark" >Agregar equipo</button>
</form>
{{>team-list listaEquipos=data.equipos}}

